{% extends 'restaurant/base.html' %}
{% load bootstrap3 %}

{% block content %}
{% include "helpers/popup_image_cropper.html" %}
<div class="col-sm-8">
  <!--- Account header --->
  <div class="page-title">Account</div>
  <br>

  <!--- User and restaurant forms --->
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form user_form %}
    {% bootstrap_form restaurant_form %}
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
  <br>

  <!--- Change password link --->
  <a href="{% url 'password_change' %}">Change password</a>
  <br>
  <br>
  <br>
</div>
{% endblock %}
