{% extends 'restaurant/base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="col-lg-offset-2 col-lg-8">
  <div class="panel">
    <div class="panel-heading bg-blue">
      <h4 class="panel-title text-center">
        Add Meal
      </h4>
    </div>
    <div class="panel-body">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!--- Meal form --->
        {% bootstrap_form meal_form %}
        
        <!--- Customization formset --->
        {{ customization_formset.management_form }}
        <div id="form_set">
          {% for form in customization_formset.forms %}
            <div id="{{ form.prefix }}">

              {% bootstrap_form form %}
            </div>
          {% endfor %}
        </div>
        <!--- Add customization form button --->
        <input type="button" class="btn btn-success" value="Add customization" id="add_form">
        <!--- Delete customization form button --->
        <input type="button" class="btn btn-danger" value="Delete customization" id="delete_form">
        <br>
        <br>

        <!--- Add meal button --->
        <button type="submit" class="btn btn-blue">Add meal</button>
      </form>
    </div>
  </div>
</div>

<!--- Empty customization form template --->
<div id="empty_form" style="display:none">
  <div id="form-replace">
    {% bootstrap_form customization_formset.empty_form %}
  </div>
</div>

<script>
    // Add customization form
    $('#add_form').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx)
          .replace("form-replace", "form-" + form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
    // Delete customization form
    $('#delete_form').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        if (form_idx > 0) {
          $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) - 1);
          var form_idx = form_idx - 1;
          $("#form-" + form_idx).remove()
        }
    });
</script>
{% endblock %}
