{% extends 'base.html' %}

{% block body %}
<div class="sidenav">
  <div class="logo">swick</div>
  <a href="{% url 'restaurant_menu' %}" {% if "/menu/" in request.path %}class="active"{% endif %}>
    Menu
  </a>
  <a href="{% url 'restaurant_orders' %}" {% if "/orders/" in request.path %}class="active"{% endif %}>
    Orders
  </a>
  <a href="{% url 'restaurant_finances' %}" {% if "/finances/" in request.path %}class="active"{% endif %}>
    Finances
  </a>
  <a href="{% url 'restaurant_requests' %}" {% if "/requests/" in request.path %}class="active"{% endif %}>
    Requests
  </a>
  <a href="{% url 'restaurant_servers' %}" {% if "/servers/" in request.path %}class="active"{% endif %}>
    Servers
  </a>
  <a href="{% url 'restaurant_account' %}" {% if "/account/" in request.path %}class="active"{% endif %}>
    Account
  </a>
  <a href="{% url 'logout' %}?next={{ request.path }}" class="confirm-logout">
    Logout
  </a>
</div>

<!--- Page content --->
<div class="main">
  {% block content %}{% endblock %}
</div>

<script>
  $(document).on('click', '.confirm-logout', function() {
    return confirm('Are you sure?');
})
</script>
{% endblock %}
