{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Swick</title>
</head>
<body>
  <!--- Aliases for navigation bar item active conditional --->
  {% url 'restaurant_menu' as menu_url %}
  {% url 'restaurant_orders' as orders_url %}
  {% url 'restaurant_servers' as servers_url %}
  {% url 'restaurant_account' as account_url %}

  <div class="container-fluid">
    <div class="row">

      <!--- Navigation sidebar --->
      <div class="col-lg-2 col-md-2 col-sm-2 sidebar">
          <!--- Display name and restaurant name --->
          <div class="text-center">
            <h3><i>SWICK</i></h3>
            <h5>{{ request.user.restaurant.restaurant_name }}</h5>
          </div>
          <br>
          <!--- Navigation bar items --->
          <div class="list-group text-center">
            <a href="{% url 'restaurant_menu' %}"
              class="list-group-item {% if request.path == menu_url %} active {% endif %}">
              Menu</a>
            <a href="{% url 'restaurant_orders' %}"
              class="list-group-item {% if request.path == orders %} active {% endif %}">
              Orders</a>
            <a href="{% url 'restaurant_servers' %}"
              class="list-group-item {% if request.path == servers_url %} active {% endif %}">
              Servers</a>
            <a href="{% url 'restaurant_account' %}"
              class="list-group-item {% if request.path == account_url %} active {% endif %}">
              Account</a>
          </div>
          <!--- Logout button --->
          <div class="text-center">
            <a href="{% url 'logout' %}?next={{ request.path }}"
                class="btn btn-blue">Logout</a>
          </div>
      </div>

      <!--- Page content --->
      <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 content">
          {% block content %}{% endblock %}
      </div>
    </div>
  </div>

</body>
</html>
