{% extends 'restaurant/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<div class="col-lg-offset-2 col-lg-8">
  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title text-center">
        Edit Meal
      </h4>
    </div>
    <div class="panel-body">
      <form id="update_meal_form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!--- Meal form --->
        {% bootstrap_form meal_form %}
        <!--- Tax categories selector --->
        <label class="control-label">Sales tax category</label>
        <select name="Tax Categories" id="tax_categories" class="form-control"></select>
        <br>
        <!--- Customization formset --->
        {{ customization_formset.management_form }}
        <div id="form_set">
          {% for form in customization_formset.forms %}
            <div id="{{ form.prefix }}">
              {% bootstrap_form form %}
            </div>
          {% endfor %}
        </div>
        <!--- Add customization form button --->
        <input type="button" class="btn btn-success btn-outline" value="Add customization" id="add_form">
        <!--- Delete customization form button --->
        <input type="button" class="btn btn-danger btn-outline" value="Delete customization" id="delete_form">
        <br>
        <br>

        <!--- Update meal button --->
        <button type="submit" class="btn btn-primary">Update meal</button>

        <!--- Delete meal button --->
        <a href="{% url 'restaurant_delete_meal' meal_id %}"
          class="btn btn-danger">Delete meal</a>
      </form>
    </div>
  </div>
</div>

<!--- Empty customization form template --->
<div id="empty_form" style="display:none">
  <div id="form-replace">
    {% bootstrap_form customization_formset.empty_form %}
  </div>
</div>

<!--- Modal form wrapper -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<!--- load popup bootstrap helper script --->
<script src="{% static 'js/configure-tax-modal-bootstrap.js' %}"}></script>

<script>
    $(document).ready(function(){
      // Prepares tax category popup using popup trigger, popup formURL, async dataURL, category names, category values
      ready_popup("tax_categories", "{% url 'popup_tax_category' %}", "{% url 'get_tax_categories' %}",
                  {{ tax_categories | safe }}, {{ tax_percentages | safe}}, {{ tax_category_index }}, "update_meal_form");
    });

    // Add customization form
    $('#add_form').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx)
          .replace("form-replace", "form-" + form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
    // Delete customization form
    $('#delete_form').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        if (form_idx > 0) {
          $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) - 1);
          var form_idx = form_idx - 1;
          $("#form-" + form_idx).remove()
        }
    });
</script>

{% endblock %}
