{% extends 'restaurant/base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="col-lg-offset-2 col-lg-8">
  <div class="panel">
    <div class="panel-heading bg-blue">
      <h4 class="panel-title text-center">
        Edit Category
      </h4>
    </div>
    <div class="panel-body">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!--- Category form --->
        {% bootstrap_form category_form %}
        <!--- Update button --->
        <button type="submit" class="btn btn-blue">Update</button>

        <!--- Delete button --->
        <a href="{% url 'restaurant_delete_category' category_id %}"
          class="btn btn-danger">Delete</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}
