{% extends 'restaurant/base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="col-lg-offset-2 col-lg-8">
  <div class="panel">
    <div class="panel-heading bg-blue">
      <h4 class="panel-title text-center">
        Edit Meal
      </h4>
    </div>
    <div class="panel-body">
      <!--- Form to update meal --->
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-blue" name="update">Update</button>
      </form>
      <br>
      <!--- Button to delete meal --->
      <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" name="delete">Delete</button>
      </form>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
{% endblock %}
