{% extends 'restaurant/base.html' %}

{% block content %}
<div class="panel">
  <!--- Order header --->
  <div class="panel-heading bg-blue">
    <h4 class="panel-title text-center">Finances</h4>
  </div>

  <div class="panel-body">
    <!--- Add tax category button --->
    <a href="{% url 'restaurant_add_tax_category' %}" class="btn btn-success pull-right">Add Tax Category</a>
    <br/>
    <br/>

    <!--- Tax table --->
    <table class="table table-bordered">
      <!--- Tax table header --->
      <thead>
        <tr class="bg-light-blue">
          <th class="text-center">Sales Tax Category</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <!--- Tax table body --->
      <tbody>
          <tr>
              <td id="{{ default_category.id }}"></td>
              <script>
                function formatTax(){
                  // remove trailing "0" and "." for decimal number
                  var formatted = "{{ default_category.tax }}".replace(/0+$/, "").replace(/\.$/, "");
                  var name = "<a href={% url 'restaurant_edit_tax_category' default_category.id %}> {{ default_category.name }} </a>"
                  document.getElementById("{{ default_category.id }}").innerHTML = name +" (" + formatted + "%)"
                }
                formatTax()
              </script>
              <!--- Delete button --->
            <td class="text-center"><a href="{% url 'restaurant_delete_tax_category' default_category.id %}"</td>
          </tr>
        {% for tax_category in tax_categories %}
          <tr>
              <td id="{{ tax_category.id }}"></td>
              <script>
                function formatTax(){
                  // remove trailing "0" and "." for decimal number
                  var formatted = "{{ tax_category.tax }}".replace(/0+$/, "").replace(/\.$/, "");
                  var name = "<a href={% url 'restaurant_edit_tax_category' tax_category.id %}> {{ tax_category.name }} </a>"
                  document.getElementById("{{ tax_category.id }}").innerHTML = name +" (" + formatted + "%)"
                }
                formatTax()
              </script>
                <!--- Delete button --->
              <td class="text-center"><a href="{% url 'restaurant_delete_tax_category' tax_category.id %}"
                id="{{ tax_category.name }}_delete_button"
                class="btn btn-danger">Delete</a>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
