{% extends 'restaurant/base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
<div class="panel">
  <!--- Menu header --->
  <div class="panel-heading bg-blue">
    <h4 class="panel-title text-center">Menu</h4>
  </div>

  <div class="panel-body">

    <!--- Add meal button --->
    <a href="{% url 'restaurant_add_category' %}" class="btn btn-success">Add Category</a>
    <br>
    <br>

    <!--- Create a table for each category --->
    {% for category in categories %}
      <!--- Click category name to edit --->
      <a id="{{ category.name }}" class="pull-left" href="{% url 'restaurant_edit_category' category.id %}">
        <h4>{{ category.name }}</h4>
      </a>

      <!--- Add meal button --->
      <a href="{% url 'restaurant_add_meal' category.id %}" class="btn btn-success pull-right">
        Add Meal
      </a>

      <!--- Menu table --->
      <table class="table table-bordered">
        <!--- Menu table header --->
        <thead>
          <tr class="bg-light-blue">
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Price</th>
            <th class="text-center">Image</th>
            <th class="text-center">Customizations</th>
            <th class="text-center">Sales Tax Category</th>
            <th class="text-center">Enable/Disable</th>
          </tr>
        </thead>
        <!--- Menu table body --->
        <tbody>
          {% for meal in category.meal.all|dictsort:"name" %}
            <tr>
              <!--- Click meal name to edit --->
              <td><a href="{% url 'restaurant_edit_meal' meal.id %}">
                {{ meal.name }}
              </a></td>
              <td>{{ meal.description }}</td>
              <td>${{ meal.price }}</td>
              <!--- Meal image --->
              <td class="text-center">
                <img class="img-square"
                  src="{% if not meal.image %} {% static 'img/nullimage.png' %}
                      {% else %} {{ meal.image.url }}
                      {% endif %}"
                  width="60" height="60"
              </td>
              <!--- Customizations --->
              <td>
              {% for cust in meal.customization.all %}
                <div><b>{{ cust.name }}</b></div>
                {% for option, addition in cust.options|zip:cust.price_additions %}
                  <div>- {{ option }} (+${{ addition }})</div>
                {% endfor %}
                <div>Min: {{ cust.min}} </div>
                <div>Max: {{ cust.max}} </div>
              {% endfor %}
              </td>
              <td id="{{ meal.id }}" class="text-center"></td>
              <script>
                function formatTax(){
                  // remove trailing "0" and "."
                  var formatted = "{{ meal.tax_category.tax }}".replace(/0+$/, "").replace(/\.$/, "");
                  document.getElementById("{{ meal.id }}").innerHTML = "{{ meal.tax_category.name}} (" + formatted + "%)"
                }
                formatTax()
              </script>
              <!--- Enable/disable button --->
              <td class="text-center">
              {% if meal.enabled %}
              <a href="{% url 'restaurant_disable_meal' meal.id %}"
                class="btn btn-danger">Disable</a>
              {% else %}
              <a href="{% url 'restaurant_enable_meal' meal.id %}"
                class="btn btn-success">Enable</a>
              {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>
</div>

<script>
  $(document).on('click', '.confirm-delete', function() {
    return confirm('Are you sure? This will delete all meals in the category.');
})
</script>
{% endblock %}
