{% extends 'restaurant/base.html' %}
{% load extra_filters %}

{% block content %}
<div class="panel">
  <!--- Menu header --->
  <div class="panel-heading bg-blue">
    <h4 class="panel-title text-center">Menu</h4>
  </div>

  <div class="panel-body">
    <!--- Add meal button --->
    <a href="{% url 'restaurant_add_meal' %}" class="btn btn-success pull-right">Add Meal</a>
    <br/>
    <br/>

    <!--- Menu table --->
    <table class="table table-bordered">
      <!--- Menu table header --->
      <thead>
        <tr class="bg-light-blue">
          <th class="text-center">Name</th>
          <th class="text-center">Description</th>
          <th class="text-center">Price</th>
          <th class="text-center">Category</th>
          <th class="text-center">Image</th>
          <th class="text-center">Customizations</th>
          <th class="text-center">Edit</th>
        </tr>
      </thead>
      <!--- Menu table body --->
      <tbody>
        {% for meal in meals %}
          <tr>
            <td>{{ meal.name }}</td>
            <td>{{ meal.description }}</td>
            <td>${{ meal.price }}</td>
            <td>{{ meal.category }}</td>
            <!--- Meal image --->
            <td class="text-center">
              <img class="img-square" src="{{ MEDIA_URL }}{{ meal.image }}"
                width="60" height="60"
            </td>
            <!--- Customizations --->
            <td>
            {% for cust in meal.customization.all %}
              <div><b>{{ cust.name }}</b></div>
              {% for option, addition in cust.options|zip:cust.price_additions %}
                <div>- {{ option }} (+${{ addition }})</div>
              {% endfor %}
              <div>Min: {{ cust.min}} </div>
              <div>Max: {{ cust.max}} </div>
            {% endfor %}
            </td>
            <!--- Edit button --->
            <td class="text-center"><a href="{% url 'restaurant_edit_meal' meal.id %}"
              class="btn btn-blue">Edit</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
