{% extends 'restaurant/base.html' %}

{% block content %}
<div class="panel">
  <!--- Order header --->
  <div class="panel-heading bg-blue">
    <h4 class="panel-title text-center">Orders</h4>
  </div>

  <div class="panel-body">
    <!--- Orders table --->
    <table class="table table-bordered">
      <!--- Orders table header --->
      <thead>
        <tr class="bg-light-blue">
          <th class="text-center">Time</th>
          <th class="text-center">Customer</th>
          <th class="text-center">Table</th>
          <th class="text-center">Total</th>
          <th class="text-center">Status</th>
          <th class="text-center">View</th>
        </tr>
      </thead>
      <!--- Orders table body --->
      <tbody>
        {% for order in orders %}
          <tr>
              <td>{{ order.order_time|date:"m/d/y g:iA" }}</td>
              <td>{{ order.customer }}</td>
              <td>{{ order.table }}</td>
              <td>${{ order.total }}</td>
              <td>{{ order.get_status_display }}</td>
              <!--- View button --->
              <td class="text-center"><a href="{% url 'restaurant_view_order' order.id %}"
                class="btn btn-blue">View</a>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
