{% extends 'restaurant/base.html' %}

{% block content %}
<!--- Requests header --->
<div class="page-title">Requests</div>
<br>

<p class="pull-left">Requests will show up in app in order listed below.</p>
<!--- Add request button --->
<a href="{% url 'restaurant_add_request' %}" class="btn btn-success pull-right">Add request</a>
<br>
<br>

<!--- Requests table --->
<table class="table table-bordered">
  <!--- Requests table header --->
  <thead>
    <tr class="bg-gray">
      <!--- Click name to edit --->
      <th class="text-center">Name</th>
      <th class="text-center">Edit</th>
    </tr>
  </thead>
  <!--- Requests table body --->
  <tbody>
    {% for request in requests %}
    <tr>
      <td>{{ request.name }}</td>
      <!--- Edit button --->
      <td class="text-center"><a href="{% url 'restaurant_edit_request' request.id %}" class="btn btn-primary btn-outline">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
