{% extends 'registration/base.html' %}
{% load bootstrap3 %}

{% block title %}Enter new password{% endblock %}
{% block heading %}Enter new password{% endblock %}

{% block content %}
<form method="POST">
  {% if validlink %}
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-blue">Change my password</button>
  <a href="{% url 'login' %}" class="pull-right">Return to login</a>

  {% else %}
  The password reset link was invalid, possibly because it has already been used.
  Please try resetting your password again.
  <br>
  <br>
  <a href="{% url 'password_reset' %}">Reset password</a>
  <br>
  <br>
  <a href="{% url 'login' %}">Return to login</a>
  {% endif %}
</form>
{% endblock %}
