{% extends 'registration/base.html' %}
{% load bootstrap3 %}

{% block title %}Reset email sent{% endblock %}
{% block heading %}Reset email sent{% endblock %}

{% block content %}
We emailed you instructions for resetting your password,
if an account exists with the email you entered. You should receive it shortly.
If you don’t receive an email, please make sure you entered the email address
you registered with and check your spam folder.
<br>
<br>
<a href="{% url 'login' %}"">Return to login</a>
{% endblock %}
