{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="ios-screenshot-container">
  <div class="page-title">About</div>
  <br>
  <p>Website and apps created by Sean Lu and Andrew Jiang.</p>
  <p>Restaurant dashboard & backend GitHub link: <a href="https://github.com/swick-app/swick-backend">github.com/swick-app/swick-backend</a></p>
  <p>iOS Apps GitHub link: <a href="https://github.com/swick-app/swick-ios">github.com/swick-app/swick-ios</a></p>
  <br>
  <br>
  <br>
</div>
{% endblock %}
