{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="image-container">
  <div class="image-text">
    <h1 style="font-weight:bold;margin-bottom:15px">YOUR FAVORITE RESTAURANTS, MINUS THE CHAOS</h1>
    <h4 style="margin-bottom:30px">Completely hardwareless ordering solutions for the modern world, all in one app.</h4>
    <a class="btn btn-danger" href="{% url 'request_demo' %}" role="button">Request a Demo</a>
  </div>
</div>

<div style="padding:30px">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="{% static 'img/dashboard-icon.png' %}" width=100 style="margin-bottom:10px">
      <h2>
        Restaurant Dashboard
      </h2>
      <p>
        Complete control over your business.
        Easily update your menu, view financial data and manage servers.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <img src="{% static 'img/customer-icon.png' %}" width=100 style="margin-bottom:10px">
      <h2>Customer App</h2>
      <p>
        Scan a QR code to order, pay and make requests.
        Spend less time waiting and more time on your dining experience.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <img src="{% static 'img/server-icon.png' %}" width=100 style="margin-bottom:10px">
      <h2>Server App</h2>
      <p>
        Effortlessly manage, sort and fulfill orders.
        Bring simplicity to a stressful environment.
      </p>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4 text-center">
      <img src="{% static 'img/integration-icon.png' %}" width=100 style="margin-bottom:10px">
      <h2>Simple Integration</h2>
      <p>
        $0 upfront cost and no additional hardware.
        Onboard within 24 hours.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <img src="{% static 'img/presence-icon.png' %}" width=100 style="margin-bottom:10px">
      <h2>Increase Your Presence</h2>
      <p>
        Associate your restaurant with efficient dining.
        Let customers find you with our app.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <img src="{% static 'img/health-icon.png' %}" width=100 style="margin-bottom:10px">
      <h2>
        COVID Friendly
      </h2>
      <p>
        Do away with physical menus and reduce prolonged interactions.
        Allow customers to feel safer in your venue.
      </p>
    </div>
  </div>
</div>
{% endblock %}
