/* Custom fonts */
@font-face {
    font-family: 'forma';
    src: url('forma-webfont.woff2') format('woff2'),
         url('forma-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Color variables */
:root {
  --red: #E63946;
  --light-gray: #f7f7f7;
}

body {
  padding-top: 50px;
  /* Background color */
  background-color: var(--light-gray);
  overflow: auto;
}

/* Image aspect fill */
img {
  object-fit: cover;
}

/* Red color */
.bg-red {
  background-color: var(--red);
}

/* Gray color */
.bg-gray {
  background-color: var(--light-gray);
}

/* Sidebar */
.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 0;
  background-color: var(--red);
  overflow: auto;
}

/* Sidebar header */
.sidebar > div:first-child {
  padding: 20px;

}
.sidebar > div:first-child > h1 {
  color: white;
  font-family: 'forma';
}

/* Sidebar list */
.sidebar .list-group .list-group-item,
.sidebar .list-group .list-group-item:focus {
  background-color: var(--red);
  color: white;
  border: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.sidebar .list-group .list-group-item.active,
.sidebar .list-group .list-group-item:hover {
  background-color: white;
  color: var(--red);
}

/* Sidebar logout button */
.sidebar > div:last-child .btn {
  color: var(--red);
  background-color: white;
  width: 80%;
}
.sidebar > div:last-child .btn:hover {
  background-color: var(--light-gray);
}

/* Panel */
.content {
  padding: 0 40px;
}
.content .panel {
  border: none;
}
.panel-heading {
  color: white;
  background-color: var(--red);
}

/* Bootstrap 3 outline buttons add-on */
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
